/.idea/
soft_uni_adv.iml
unit_testing_exercise/__pycache__/test_list_1.cpython-38.pyc
polymorphism_exercise/__pycache__/test_vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/test_wild_farm_2.cpython-38.pyc
iterators_and_generators_exercise/__pycache__/fibonacci_generator_5.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/wild_farm_2.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-36.pyc
polymorphism_exercise/__pycache__/wild_farm_2.cpython-36.pyc
unit_testing_exercise/__pycache__/test_list.cpython-36.pyc
unit_testing_exercise/__pycache__/list.cpython-36.pyc
unit_testing_exercise/project/__pycache__/__init__.cpython-36.pyc
unit_testing_exercise/project/__pycache__/list.cpython-36.pyc
polymorphism_exercise/__pycache__/wild_farm_2.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/test_vehicle_1.cpython-36.pyc
polymorphism_exercise/__pycache__/test_wild_farm_2.cpython-36.pyc
unit_testing_exercise/project/__pycache__/car_manager.cpython-36.pyc
unit_testing_exercise/project/__pycache__/list_extended.cpython-36.pyc
unit_testing_exercise/__pycache__/test_car_manager_3.cpython-36.pyc
unit_testing_exercise/__pycache__/test_extended_list_2.cpython-36.pyc
unit_testing_exercise/__pycache__/test_extended_list.cpython-36.pyc
unit_testing_exercise/__pycache__/test_list_1.cpython-36.pyc
