/.idea/
soft_uni_adv.iml
unit_testing_exercise/__pycache__/test_list_1.cpython-38.pyc
polymorphism_exercise/__pycache__/test_vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/test_wild_farm_2.cpython-38.pyc
iterators_and_generators_exercise/__pycache__/fibonacci_generator_5.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-38.pyc
polymorphism_exercise/__pycache__/wild_farm_2.cpython-38.pyc
polymorphism_exercise/__pycache__/vehicle_1.cpython-38.pyc
